# build trash
/src/build/
build/
*.obj
*.exe
*.ilk
*.pdb

# deleting images that I use for didatic issues (unless textures)
*.png 
*.jpg
/src/content/
!/src/textures/*
!/src/textures/*

# tasks
.vscode/